    nav p{
        text-align: center;
        font-size: 30px;
        margin-bottom: 100px;
        text-shadow: 0px 0px 3px green;
        font-weight: bold;
        font-family: 'algerian', serif;
        animation: textAnime 0.7s ease-in-out 0s infinite linear;
    }
    @keyframes textAnime{
        0%{
            background: red;
            text-shadow: 0px 0px 3px green;
        }
        20%{
            text-shadow: 0px 0px 3px green;
        }
        40%{
            text-shadow: 0px 0px 3px orange
        }
        60%{
            text-shadow: 0px 0px 3px yellow;
        }
        80%{
            text-shadow: 0px 0px 3px red;
        }
        100%{
            text-shadow: 0px 0px 3px red;
        }
    }
    section{
    margin: 0px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    overflow: hidden;
}
section div.imagescont{
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    width: 500px;
}

/* this is done for the button click in javascript,
 so therefore make it hidden */

.imagescont .carouselItem, 
.imagescont .carouselItem--hidden{
    display: none;
}


/* to call back the first item only to be displayed on the screen at default */
.imagescont .carouselItem--visible{
    display: block ;
    animation: caroAnime 1.3s ease-in-out;
}


div img{
    width: 100%;
    box-sizing: border-box;
}
button{
    padding: 10px;
    width: 10%;
    border: 2px solid rgb(3, 247, 64);
    transition: background-color 0.2s ease-in-out 0s;
    border-radius: 360px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(3, 247, 64);;
    border: 2px solid white;
}
 @keyframes caroAnime {
    0%{
        opacity: 0.5;
        transform: rotateY(180deg);
    }
    100%{
        opacity: 0.9;
        transform: rotateY(-180deg);
    }
 }